@import 'tailwindcss';
@import '@fontsource/fira-code';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    --font-brand: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
}

@layer base {
    html,
    body {
        font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
        font-feature-settings: 'calt' 1, 'liga' 1, 'dlig' 1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    [role='heading'] {
        font-family: var(--font-brand);
        font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
        font-feature-settings: 'calt' 1, 'liga' 1, 'dlig' 1;
    }

    button,
    [role='button'],
    input[type='button'],
    input[type='submit'],
    input[type='reset'] {
        font-family: var(--font-brand);
        font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
        font-feature-settings: 'calt' 1, 'liga' 1, 'dlig' 1;
    }

    code,
    pre,
    kbd,
    samp {
        font-family: var(--font-mono);
        font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
        font-feature-settings: 'calt' 1, 'liga' 1, 'dlig' 1;
    }
}
